<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta {{ index }}</title>
</head>
<body>
    <main style="text-align: center;">
        <h2>Pregunta {{ index }} (Dificultad: {{ question.difficulty }})</h2>
        <p>{{ question.description }}</p>
        <form method="POST">
            {% for i in range(question.options | length) %}
                <div>
                    <input type="radio" id="option{{ i }}" name="answer" value="{{ i }}" required>
                    <label for="option{{ i }}">{{ question.options[i] }}</label>
                </div>
            {% endfor %}
            <button type="submit">Responder</button>
        </form>
    </main>
</body>
</html>
